{% extends 'base/base.html' %}
{% load staticfiles %}

{% block title %}
<title>Mi Mascotas</title>
{% endblock %}

{% block content %}

<div class="single-post row">

    <div class="col-lg-3  col-md-3">
        <ul class="popular-post-list">
            <h5>Comportamiento</h5>
            <li>Jugueton %{{ mascotas.jugueton }}
                <div class="skill" data-width="{{ mascotas.jugueton }}"></div>
            </li>
            <li>Educado %{{ mascotas.educado }}
                <div class="skill" data-width="{{ mascotas.educado }}"></div>
            </li>
            <li>Tranquilo %{{ mascotas.tranquilo }}
                <div class="skill" data-width="{{ mascotas.tranquilo }}"></div>
            </li>
            <li>Cariñoso %{{ mascotas.carinioso }}
                <div class="skill" data-width="{{ mascotas.carinioso }}"></div>
            </li>
            <h5>Sociable con</h5>
            <li><p><strong class="fa fa-blind fa-2x"></strong> Adultos : {{ mascotas.adultos }}</p></li>
            <li><p><strong class="fa fa-child fa-2x"></strong> Niños : {{ mascotas.ninios }}</p></li>
            <li><p><strong class="fa fa-paw fa-2x"></strong> Otros animales : {{ mascotas.otros }}</p></li>
            <h5>Salud</h5>
            <li><p>Vacunas : <strong>{{ mascotas.vacuna }}</strong></p></li>
            <li><p>Alergias : <strong>{{ mascotas.alergia }}</strong></p></li>
            <li><p>Enfermedades <strong>{{ mascotas.enfermeda }}</strong></p></li>
            <li><p>Tratamiento : <strong>{{ mascotas.tratamiento }}</strong></p></li>
            <a href="{% url 'mascota:adoptar' id_mascota=mascotas.id_mascota %}" class="btn btn-primary">Adoptar</a>
        </ul>
    </div>
    <div class="col-lg-9 col-md-9">
        <div class="feature-img">
            <img class="img-fluid" src="{%static 'img/blog/feature-img1.jpg'%}" alt="">
        </div>
        <a class="posts-title" href="blog-single.html">
            <h3>{{ mascotas.nombre }}</h3></a>
        <p class="excert">
            {{ mascotas.descripcion }}
        </p>
        <div class="meta-details">
            <h5>Características</h5>
            <ul class="tags">
                <li><p>Sexo
                    {% if mascotas.sexo == 'Masculino'%}
                    <strong class="fa fa-mars fa-2x" style="color:blue;"></strong>
                    <strong class="fa fa-venus fa-2x"></strong>
                    {%else%}
                    <strong class="fa fa-mars fa-2x"></strong>
                    <strong class="fa fa-venus fa-2x" style="color:blue;"></strong>
                    {%endif%}
                </p>
                </li>
                <li><p>Tamaño
                    {% if mascotas.tamanio == 'Grande' %}
                    <strong class="fa fa-github"></strong>
                    <strong class="fa fa-github fa-2x"></strong>
                    <strong class="fa fa-github fa-3x" style="color:blue;"></strong>
                    {%endif%}
                    {% if mascotas.tamanio == 'Mediano' %}
                    <strong class="fa fa-github"></strong>
                    <strong class="fa fa-github fa-2x" style="color:blue;"></strong>
                    <strong class="fa fa-github fa-3x"></strong>
                    {%endif%}
                    {% if mascotas.tamanio == 'Pequeño' %}
                    <strong class="fa fa-github" style="color:blue;"></strong>
                    <strong class="fa fa-github fa-2x"></strong>
                    <strong class="fa fa-github fa-3x"></strong>
                    {%endif%}
                </p>
                </li>
                <li>
                    <p>| Raza :
                        <strobg>{{ mascotas.raza }}</strobg>
                        |
                    </p>
                </li>
                <li><p>| años : <strong>{{ mascotas.edad }}</strong> |</p></li>
            </ul>
        </div>
        <div>
            <h5>Mi historia</h5>
            <p class="excert">{{ mascotas.mihistoria }}</p>
        </div>
    </div>
</div>
<hr>

{% endblock %}
